/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 22, 2016, 2:11:14 PM
    Author     : talk2
*/
.root {
    -fx-background-color: #eeeeee;
}

#mainGrid, #footerGrid, #previewGrid {
    -fx-hgap: 1em;
}

#titleLabel {
    -fx-font: 3em "Segoe UI Light";    
    -fx-alignment: center;   
}

#subTitleLabel {
    -fx-font: 1.2em "Segoe UI";
    -fx-alignment: center;
}

#browseTextField, .text-field {
    -fx-background-radius: 0;
    -fx-background-color: #cccccc;
    -fx-font: 1.2em "Segoe UI";
    -fx-font-style: italic;
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
}

#browseButton, #printButton, #exportButton, .default-button {
    -fx-background-radius: 0;
    -fx-background-color: rgba(204, 204, 204, 1);
    -fx-font: 1.2em "Segoe UI";
    -fx-text-fill: #666666;
    -fx-font-weight: bold;
    -fx-border: none;
    -fx-background-insets: 0;
}

#browseButton:hover, .default-button:hover {
    -fx-cursor: hand;
    -fx-background-color: rgba(204, 204, 204, 0.8);
}

#browseButton:pressed, .default-button:pressed {
    -fx-background-color: #dddddd;
}

#mainGrid, #footerGrid {
    -fx-background-color: rgba(221, 221, 221, 0.6);
}

#previewGrid {
    -fx-background-color: rgba(221, 221, 221, 1);
    -fx-padding: 0;
}

#previewButton {
    -fx-background-color: rgba(102, 102, 102, 1);
    -fx-text-fill: #cccccc;
    -fx-font: 1.2em "Segoe UI";
    -fx-font-weight: bold;
    -fx-background-radius: 0;
    -fx-border: none;
    -fx-background-insets: 0;
}

#previewButton:hover {
    -fx-background-color: rgba(102, 102, 102, 0.9);
    -fx-cursor: hand;
}

#previewButton:pressed {
    -fx-background-color: #555555;
    -fx-cursor: hand;
}

#printButton:hover, #exportButton:hover {
    -fx-cursor: hand;
    -fx-background-color: rgba(204, 204, 204, 0.7);
}

#printButton:pressed, #exportButton:pressed {
    -fx-cursor: hand;
    -fx-background-color: rgba(204, 204, 204, 0.5);
}

#manifestInfoHBox {
    -fx-alignment: center;
    -fx-spacing: 1em;
}

#manifestListView {
    -fx-orientation: horizontal;   
    -fx-focus-traversable: false;    
}

.page-preview {
    -fx-border-color: #000000;
    -fx-border-width: 1px;
    -fx-background-color: #ffffff;
    -fx-spacing: 20;
    -fx-padding: 100px 20px 20px 20px;
    -fx-min-width: 816px;
    -fx-min-height: 1056px;
    -fx-max-width: 816px;
    -fx-max-height: 1056px;
}

#manifestVBox {
    
}

.table-row-cell:filled:selected { 
  -fx-background: -fx-control-inner-background ;
  -fx-background-color: -fx-table-cell-border-color, -fx-background ;
  -fx-background-insets: 0, 0 0 1 0 ;
  -fx-table-cell-border-color: derive(-fx-color, 5%);
}
.table-row-cell:odd:filled:selected {
  -fx-background: -fx-control-inner-background-alt ;
}

/*.table-row-cell:empty {
    -fx-background-color: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-table-cell-border-width: 0;
}
 
.table-row-cell:empty .table-cell {
    -fx-border-width: 0;
}*/

.page-header {
    -fx-font: 35pt "Segoe UI Black";
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
}

#caseTrailerPositionLabel {
/*    -fx-font: 1em "Segoe UI";
    -fx-font-weight: bold;*/
}

#cartTotalLabel {
    -fx-font: 1em "Segoe UI";
    -fx-font-weight: bold;
}

#previousButton, #nextButton {
    -fx-background-insets: 0;
    -fx-background-color: #eeeeee;
    -fx-border: none;
    -fx-background-radius: 0;
}

#previousButton {
    -fx-graphic: url('/manifestgenerator/resources/chev-left.png');
}

#nextButton {
    -fx-graphic: url('/manifestgenerator/resources/chev-right.png');
}

#previousButton:hover, #nextButton:hover {
    -fx-cursor: hand;    
}

#contentGrid, #sliderScrollPane {
    -fx-background-color: #eeeeee;
}

#originalFileLabel, #foundOnPageLabel, #manifestPositionLabel {
    -fx-alignment: center;
}

#manifestPage {
/*    -fx-padding: 2em;
    -fx-background-color: #ffffff;
    -fx-spacing: 20;*/
}

#progressBar {
    -fx-indeterminate-bar-length: 60;
    -fx-indeterminate-bar-escape: true;
    -fx-indeterminate-bar-flip: true;
    -fx-indeterminate-bar-animation-time: 2;
}

#progressBar > .bar {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0;
}

#progressBar:indeterminate > .bar, #progressBar:determinate > .bar {
    -fx-background-color: rgba(102, 102, 102, 1);
    -fx-background-radius: 0;
}

#progressBar:indeterminate > .track, #progressBar:determinate > .track {   
    -fx-background-insets: 0;
    -fx-background-radius: 0; 
}

#progressBar > .track {    
    -fx-background-color:#dddddd;
    -fx-background-insets: 0;
    -fx-background-radius: 0; 
}

#progressLabel {
    -fx-alignment: CENTER;
    -fx-font: 1.5em "Segoe UI Black";
    -fx-text-fill: #999999;
    -fx-font-style: italic;
}

.context-menu {
    -fx-min-width: 200px;
    -fx-margin-right: 20px;
    -fx-padding: 1em 0;
}

.menu-item {
    -fx-margin: 1em;
    -fx-padding: 0.5em 1em;
    -fx-min-width: 200px;
}

.tool-tip {
    -fx-background-radius: 0;
    -fx-font: 1em "Segoe UI";
}

/*
*   Print Styles
*/
.page-print {    
    -fx-background-color: #ffffff;
    -fx-halignment: center;
    -fx-valignment: top;
    -fx-fill: true;
}

.header-grid-print, .footer-grid-print {
    -fx-vgap: 30;
    -fx-hgap: 10;
    -fx-alignment: center;
}

.page-header-print, .page-footer-print {
    -fx-font: 30pt "Segoe UI Black";
    -fx-font-weight: bold;
}

.page-subheader-print, .page-subfooter-print {
    -fx-font: 28pt "Segoe UI Light";
    -fx-alignment: CENTER;
    -fx-content-display: center;
}

.table-view-print {
    -fx-border-color: #000000;
    -fx-column-halignment: center;
}

.table-view-print .column-header,
.table-view-print .column-header .filler,
.table-view-print .column-header-background .filler {
    -fx-background-color: red;
}
